<!DOCTYPE html>
    <html lang="fr">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Pokemon - Attrapez les tous</title>
            <link href="/css/style.css" rel="stylesheet">
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
        </head>
        <body>
            <header class="title-navi">
                <div class="logo">
                    <a href="/">
                        <p>Pokédex</p>
                    </a>
                </div>
                <nav class="navi">
                    <p><a href="/">Listes</a></p>
                    <p><a href="/list-type-pokemon/">Types</a></p>
                </nav>
            </header>

            <main class="cardContainer">